/terraform/vmbuild/terraform.tfstate
/terraform/vmbuild/terraform.tfstate.backup
/terraform/vmbuild/.terraform.lock.hcl
/terraform/vmbuild/variables.tfvars
/terraform/vmbuild/.terraform/
/ansible/vars.yaml

terraform/ctbuild/.terraform.lock.hcl

terraform/vmbuild/.terraform.tfstate.lock.info

terraform/ctbuild/terraform.tfstate.backup

terraform/ctbuild/terraform.tfstate

terraform/ctbuild/variables.tfvars

terraform/ctbuild/.terraform/providers/
