/terraform/vmbuild/terraform.tfstate
/terraform/vmbuild/terraform.tfstate.backup
/terraform/vmbuild/.terraform.lock.hcl
/terraform/vmbuild/variables.tfvars
/terraform/vmbuild/.terraform/
!/terraform/ctbuild/.terraform/
!/terraform/ctbuild/.terraform.lock.hcl
!/terraform/ctbuild/terraform.tfstate

!/terraform/ctbuild/terraform.tfstate.backup
